{% extends 'shopper/base.html' %}

{% block content %}
    <div id="line_top_x"></div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Day');
        data.addColumn('number', 'Price');
        data.addColumn('number', 'Old Price');

        {% for info in prod_infos %}
            data.addRow([new Date("{{ info.date }}"), {{ info.price }}, {{ info.old_price }}]);
        {% endfor %}

        var options = {
            chart: {
                title: 'Price variation',
                subtitle: '{{ prod_name }}'
            },
            width: 900,
            height: 500,
            axes: {
                x: {
                0: {side: 'bottom'}
                }
            }
        };

        var chart = new google.charts.Line(document.getElementById('line_top_x'));

        chart.draw(data, google.charts.Line.convertOptions(options));
    }
</script>
{% endblock javascript%}